
$coral: rgb(253, 98, 98);
$lila: rgb(81, 108, 205);
// $lila: rgb(136,156,231);
$white: rgb(255, 255, 255);
$black:rgb(27, 28, 30);
$grey: rgb(138, 138, 138);

$green: #45b36a;
$green1: #55E6A5;
$yellow: #ffb400;
$blue: #113448;